@import "../../scss/mixins";

.login {
    @include flex-center();
    flex-direction: column;

    &__form {
        &__name {
            text-align: center;
        }

        &__btn {
            text-align: center;
        }

        &__to-register {
            margin-bottom: 20px;
            text-align: end;
        }
    }
}

.ant-form-item-required {
    min-width: 100px !important;
    max-width: none !important;
}

label {
    min-width: 100px !important;
    max-width: none !important;
}

.or {
    @include flex-center();
    margin: 20px 0 20px 0;
}

.login-with-fb {
    @include flex-center();
}

.custom-facebook-button {
    padding: 7px 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    
    i {
        color: blue;
    }
}