@import '../../scss/mixins';


html {
    height: 100% !important;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    @include d-flex();
    justify-content: space-between;
    background-color: #F1F1F1;
    padding: 10px 80px;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &__name {
        a {
            text-decoration: none;
            color: blue;
            font-weight: 800;
            font-size: 30px;
        }
    }

    &__actions {
        @include d-flex();
        column-gap: 10px;
    }
}

.company-name {
    display: flex;
    align-items: center;
}

.p20 {
    padding: 30px 80px 30px 80px;
}

.footer {
    background-color: #282828;
    height: 100px;
    // margin-top: 30px;
    margin-top: auto;
    // position: fixed;
    // margin-bottom: 0px;
    // left: 0;
    // bottom: 0;
    width: 100%;
    @include flex-center();

    &__content {
        // height: 100%;
        color: white;
    }
}

.footer {
    // margin-top: 50px;
    margin-top: auto;
    position: relative;
    background-color: #F1F1F1;
    height: 100%;

    &_main {
        background-color: #F1F1F1;
        width: 100%;
        // padding: 20px 80;
        display: flex;
        justify-content: space-between;
        margin: 0 80px 20px 80px;

        ul li {
            list-style-type: none;
        }
    }

    &::before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: aquamarine;
        position: absolute;
        top: 0;
    }
}

.ant-popover-content p {
    margin: 0;
}

.user-info {
    @include d-flex();
    column-gap: 10px;
    cursor: pointer;
    margin-right: 15px;
    align-items: center;

    &-list {
        margin: 0;
        padding: 0;
    }

    &-item {
        list-style-type: none;
        position: relative;
        padding: 5px 9px;

        &::before {
            content: "";
            width: 80%;
            height: 1px;
            background-color: #9b9b9b;
            position: absolute;
            top: 0;
        }
    }
}